@model Coinco.SMS.Website.Models.RepairType
@using Telerik.Web.Mvc.UI
@using Telerik.Web.Mvc
@{
    ViewBag.Title = "RepairLines";
}

<div class="pageCointainerRL">
    <div class="addLinesDivRL">
     <div class="addLineleftcolumnRL">
     <h6>Identification</h6>
     <br />
        <label>Service Order:</label>
               @Html.DisplayFor(x => TempData["ServiceOrderId"], new { id = "serviceOrderNo" })
         <br />
         <label> Serial Number:</label>
               @{Html.Telerik().ComboBox().Name("serialNumberList")
                     .BindTo((SelectList)ViewData["SerialNumberList"])
                     .Placeholder("--Select--")
                 .HtmlAttributes(new { style = "font-size: 8pt; font-family: Calibri; width=50px;" })
                 .DropDownHtmlAttributes(new { style = "font-size: 8pt; font-family: Calibri;" })
                 .ClientEvents(e => e.OnChange("onSerialNumberChange"))
                 .SelectedIndex(0)
                 .Render();
                }
            <br />
          
            <div id = "partNumber" >
                 @{Html.RenderPartial("PartNumber");}
            </div>
         <br />
     </div>
     <div class="addLinecentercolumnRL">
      <h6>Symptom</h6>
      <br />
            <label>Condition:</label>
                  @{Html.Telerik().ComboBox().Name("conditionList")
                        .BindTo((SelectList)ViewData["Condition"])
                        .Placeholder("--Select--")
                 .HtmlAttributes(new { style = "font-size: 8pt; font-family: Calibri; width=50px;" })
                 .DropDownHtmlAttributes(new { style = "font-size: 8pt; font-family: Calibri;" })
                 .SelectedIndex(0)
                 .Render();
                    }
            <br />
            <label>Symptom Area:</label>
                 @{Html.Telerik().ComboBox().Name("symptomAreaList")
                       .BindTo((SelectList)ViewData["SymptomArea"])
                       .Placeholder("--Select--")
                 .HtmlAttributes(new { style = "font-size: 8pt; font-family: Calibri; width=50px;" })
                 .DropDownHtmlAttributes(new { style = "font-size: 8pt; font-family: Calibri;" })
                 .CascadeTo("symptomCodeList")
                 .SelectedIndex(0)
                 .Render();
                    }
            <br />
            <label>Symptom Code:</label>
             @{Html.Telerik().ComboBox().Name("symptomCodeList")
                       .DataBinding(binding => binding.Ajax().Select("_GetDropDownSymptomCode", "RepairLines"))
                       .Placeholder("--Select--")
                 .HtmlAttributes(new { style = "font-size: 8pt; font-family: Calibri; width=50px;" })
                 .DropDownHtmlAttributes(new { style = "font-size: 8pt; font-family: Calibri;" })
                 .SelectedIndex(0)
                 .Render();
                    }
            <br />
     </div>
     <div class="addLineRightcolumnRL">
     <h6>Execution</h6>
     <br />
            <label>Repair Stage:</label>
               @{Html.Telerik().ComboBox().Name("repairStageList")
                     .BindTo((SelectList)ViewData["RepairStage"])
                     .Placeholder("--Select--")
                 .HtmlAttributes(new { style = "font-size: 8pt; font-family: Calibri; width=50px;" })
                 .DropDownHtmlAttributes(new { style = "font-size: 8pt; font-family: Calibri;" })
                 .SelectedIndex(0)
                 .Render();
                    }
            <br />
       
            <label>Technician:</label>
               @{Html.Telerik().ComboBox().Name("technicianList")
                     .BindTo((SelectList)ViewData["ServiceTechnicianList"])
                     .Placeholder("--Select--")
                 .HtmlAttributes(new { style = "font-size: 8pt; font-family: Calibri; width=50px;" })
                 .DropDownHtmlAttributes(new { style = "font-size: 8pt; font-family: Calibri;" })
                 .SelectedIndex(0)
                 .Render();
                    }
            <br />
             
            <label>Comments:</label>
               @Html.TextAreaFor(x => x.Comments, new { id = "commentsTextBox" }) 
            <br />
     </div>
    </div>

    <div class="addLinesDivRL1">
     <div class="addLineleftcolumnRL">
     <br />
     <h6>Description</h6>
     <br />
        <label>Description:</label>
                @Html.TextAreaFor(x => x.Description, new {id = "descriptionTextBox" })
         <br />
         @Html.TextBoxFor(x => x.UniqueId, new { @class = "singleTextBox" , id = "uniqueText", @type="hidden" })
     </div>
     <div class="addLinecentercolumnRL">
     <br />
      <h6>Diagnosis</h6>
      <br />
            <label>Diagnosis Area:</label>
                  @{Html.Telerik().ComboBox().Name("diagnosisAreaList")
                       .BindTo((SelectList)ViewData["DiagnosisArea"])
                       .Placeholder("--Select--") 
                 .HtmlAttributes(new { style = "font-size: 8pt; font-family: Calibri; width=50px;" })
                 .DropDownHtmlAttributes(new { style = "font-size: 8pt; font-family: Calibri;" })
                 .CascadeTo("diagnosisCodeList")
                 .SelectedIndex(0)
                 .Render();
                    }
            <br />
            <label>Diagnosis Code:</label>
                 @{Html.Telerik().ComboBox().Name("diagnosisCodeList")
                       .DataBinding(binding => binding.Ajax().Select("_GetDropDownDiagnosisCode", "RepairLines"))
                       .Placeholder("--Select--")
                 .HtmlAttributes(new { style = "font-size: 8pt; font-family: Calibri; width=50px;" })
                 .DropDownHtmlAttributes(new { style = "font-size: 8pt; font-family: Calibri;" })
                 .SelectedIndex(0)
                 .Render();
                    }
            <br />
            <label>Resolution:</label>
               @{Html.Telerik().ComboBox().Name("resolutionList")
                     .BindTo((SelectList)ViewData["Resolution"])
                     .Placeholder("--Select--")
                 .HtmlAttributes(new { style = "font-size: 8pt; font-family: Calibri; width=50px;" })
                 .DropDownHtmlAttributes(new { style = "font-size: 8pt; font-family: Calibri;" })
                 .SelectedIndex(0)
                 .Render();
                    }
            <br />
     </div>
    </div>
  <br />
  <br />
  <br />
  <br />
  <br />

    <div class="centercolumnSubmitRL">
        <button class="t-button"  id="Create" value="Create"">Add</button>
@*        <button class="t-button"  id="Update" value="Update"">Update</button>*@
        <button class="t-button"  id="Clear" value="Clear"">Clear</button>
    </div>
   <div id ="RepairLinesGrid" class="partLinesDiv">
    @{Html.RenderPartial("RepairLineDetails");}
     
  </div> 
</div>
<script type="text/javascript">
    function onSerialNumberChange(e) {
        if (e != null) {
            var serialNumber = e.currentTarget.value;
            jQuery.ajax({
                url: "/RepairLines/getPartNumber",
                type: 'GET',
                data: { serialNumber: serialNumber },
                success: function (result) {
                    jQuery('#partNumber').html(result);
                },
                error: function (result) {
                    alert(result.responseText);
                }

            });


            return false;
        }
    }

    jQuery('#Create').click(function () {
        var serialNumberList = $("#serialNumberList").val();
        var conditionId = $('#conditionList').val();
        var symptomAreaId = $('#symptomAreaList').val();
        var symptomCodeId = $('#symptomCodeList').val();
        var diagnosisAreaId = $('#diagnosisAreaList').val();
        var diagonsisCodeId = $('#diagnosisCodeList').val();
        var resolutionId = $('#resolutionList').val();
        var repairStageId = $('#repairStageList').val();
        var technicianNo = $('#technicianList').val();
        var description = $('#descriptionTextBox').val();
        var serviceComments = $('#commentsTextBox').val();

//        var $checkedRecords = $(':checked');
//        var addressId;
//        if ($checkedRecords.length < 1) {
//            alert('Please select atleast one shipping address.');
//            return;
//        }
//        $checkedRecords.each(function (index, domEle) {
//            // domEle == this
//            if ($checkedRecords[index].checked = true) {
//                addressId = $checkedRecords[index].value;
//            }

//        });
        jQuery.ajax({
            url: "/RepairLines/CreateRepairLineItems",
            type: 'POST',

            data: { 
                    serialNumberList: serialNumberList,
                    conditionId: conditionId,
                    symptomAreaId: symptomAreaId,
                    symptomCodeId: symptomCodeId,
                    diagnosisAreaId: diagnosisAreaId,
                    diagonsisCodeId: diagonsisCodeId,
                    resolutionId: resolutionId,
                    repairStageId: repairStageId,
                    technicianNo: technicianNo,
                    description: description, 
                    serviceComments: serviceComments },
            success: function (result) {
                jQuery('#RepairLinesGrid').html(result);
                alert('Repair Line Created Successfully');

               $('#conditionList').data("tComboBox").value("--Select--");
               $('#symptomAreaList').data("tComboBox").value("--Select--");
               $('#symptomCodeList').data("tComboBox").value("--Select--");
               $('#diagnosisAreaList').data("tComboBox").value("--Select--");
               $('#diagnosisCodeList').data("tComboBox").value("--Select--");
               $('#resolutionList').data("tComboBox").value("--Select--");
               $('#repairStageList').data("tComboBox").value("--Select--");
               $('#technicianList').data("tComboBox").value("--Select--");
               $('#descriptionTextBox').val('');
               $('#commentsTextBox').val('');
            },
            error: function (result) {
                alert(result.responseText);
            }

        });
        return false;
    });


    jQuery('#Clear').click(function () {
        $('#conditionList').data("tComboBox").value("--Select--");
        $('#symptomAreaList').data("tComboBox").value("--Select--");
        $('#symptomCodeList').data("tComboBox").value("--Select--");
        $('#diagnosisAreaList').data("tComboBox").value("--Select--");
        $('#diagnosisCodeList').data("tComboBox").value("--Select--");
        $('#resolutionList').data("tComboBox").value("--Select--");
        $('#repairStageList').data("tComboBox").value("--Select--");
        $('#technicianList').data("tComboBox").value("--Select--");
        $('#descriptionTextBox').val('');
        $('#commentsTextBox').val('');
        jQuery.ajax({
            url: "/RepairLines/RepairLines",
            type: 'POST'
        });
        return true;
    });


//    jQuery('#Update').click(function () {
//        var serialNumberList = $("#serialNumberList").val();
//        var conditionId = $('#conditionList').val();
//        var symptomAreaId = $('#symptomAreaList').val();
//        var symptomCodeId = $('#symptomCodeList').val();
//        var diagnosisAreaId = $('#diagnosisAreaList').val();
//        var diagonsisCodeId = $('#diagnosisCodeList').val();
//        var resolutionId = $('#resolutionList').val();
//        var repairStageId = $('#repairStageList').val();
//        var technicianNo = $('#technicianList').val();
//        var description = $('#descriptionTextBox').val();
//        var serviceComments = $('#commentsTextBox').val();
//        var uniqueId = $('#uniqueText').val(); 
//        //        var $checkedRecords = $(':checked');
//        //        var addressId;
//        //        if ($checkedRecords.length < 1) {
//        //            alert('Please select atleast one shipping address.');
//        //            return;
//        //        }
//        //        $checkedRecords.each(function (index, domEle) {
//        //            // domEle == this
//        //            if ($checkedRecords[index].checked = true) {
//        //                addressId = $checkedRecords[index].value;
//        //            }

//        //        });
//        jQuery.ajax({
//            url: "/RepairLines/CreateRepairLineItems",
//            type: 'POST',

//            data: {
//                uniqueId:uniqueId,
//                serialNumberList: serialNumberList,
//                conditionId: conditionId,
//                symptomAreaId: symptomAreaId,
//                symptomCodeId: symptomCodeId,
//                diagnosisAreaId: diagnosisAreaId,
//                diagonsisCodeId: diagonsisCodeId,
//                resolutionId: resolutionId,
//                repairStageId: repairStageId,
//                technicianNo: technicianNo,
//                description: description,
//                serviceComments: serviceComments
//            },
//            success: function (result) {
//                jQuery('#RepairLinesGrid').html(result);
//                alert('Repair Line Created Successfully');
//                //                $('#customerAccountDropDownList').val('-1');
//                //                $('#customerPOTextBox').val('');
//                //                $('#serviceTechnicianDropDownList').val('-1');
//                //                $('#serviceResponsibleDropDownList').val('-1');
//                //                $('#woClassificationDropDownList').val('-1');
//                //                $('#customerCommentTextArea').val('');
//            },
//            error: function (result) {
//                alert(result.responseText);
//            }

//        });
//        return false;
//    });
</script>