@using Telerik.Web.Mvc.UI
<div id="BillingAddress" class="leftAddressViewClass">
@{Html.Telerik().Grid((IEnumerable<Coinco.SMS.Website.Models.Address>)ViewData["BillingAddress"])
        .Name("BillingAddressGrid")
        .Columns(columns =>
        {
            columns.Bound(c => c.AddressDetails).Title("Billing Address").Width(100);
        })
                .DataBinding(dataBinding =>
                {
                    dataBinding.Ajax().OperationMode(GridOperationMode.Client).Select("_GetCustomerAddresses", "CheckIn")
                        .Enabled(true);
                }
        )

        .Footer(false)
        .HtmlAttributes(new { style = "font-size: 8pt; font-family: Verdana;" })
       .Render();
    
        }
        </div>
   <div id="ShippingAddress" class="rightAddressViewClass">
         @{
             Html.Telerik().Grid((IEnumerable<Coinco.SMS.Website.Models.Address>)ViewData["ShippingAddress"])
        .Name("ShippingAddressGrid")
        .Columns(columns =>
        {
            columns.Bound(c => c.AddressId).Title("Address Id").Width(30);
            columns.Bound(c => c.AddressDetails).Title("Shipping Address").Width(100);
        })
                        .DataBinding(dataBinding =>
                        {
                            dataBinding.Ajax().OperationMode(GridOperationMode.Client).Select("_GetCustomerAddresses", "CheckIn")
                                .Enabled(true);
                        }
        )
        .ClientEvents(events => events.OnRowSelect("onRowSelected"))
         .Footer(false)
           .Selectable()
           .Scrollable()
        .HtmlAttributes(new { style = "font-size: 8pt; font-family: Verdana;" })
       .Render();
    
        }
    </div>
 
 <script type="text/javascript">
     function onRowSelected(e) {
         var ordersGrid = $('#ShippingAddressGrid').data('tGrid');
         var addressId = e.row.cells[0].innerHTML; 
         jQuery.ajax({
             url: "/CheckIn/SelectionServerSide",
             type: 'POST',
             data: {addressId : addressId},
             success: function (result) {
                 jQuery('#Address').html(result);
             },
             error: function (result) {
             }

         });
         return false;
     }

    
     function onDataBinding(e) {
         e.data = $.extend(e.data, { addressId: addressId });
     }
</script>


              