     <div id="BillingAddress" class="leftAddressViewClass">
       @{Html.Telerik().Grid((IEnumerable<Coinco.SMS.Website.Models.Address>)ViewData["BillingAddress"])
        .Name("BillingAddressGrid")
        .Columns(columns =>
        {
            columns.Bound(c => c.AddressDetails).Title("Billing Address").Width(100);
        })
                .DataBinding(dataBinding =>
                {
                    dataBinding.Ajax().OperationMode(GridOperationMode.Client).Select("_GetCustomerAddresses", "CheckIn")
                        .Enabled(true);
                }
        )
        
        .Footer(false)
        .HtmlAttributes(new { style = "font-size: 8pt; font-family: Verdana;" })
       .Render();
    
        }
    </div>

        <div id="ShippingAddress" class="rightAddressViewClass">
       @{Html.Telerik().Grid((IEnumerable<Coinco.SMS.Website.Models.Address>)ViewData["ShippingAddress"])
        .Name("ShippingAddressGrid")
        .Columns(columns =>
        {
            columns.Bound(c => c.AddressDetails).Title("Shipping Address").Width(100);
        })
                        .DataBinding(dataBinding =>
                        {
                            dataBinding.Ajax().OperationMode(GridOperationMode.Client).Select("_GetCustomerAddresses", "CheckIn")
                                .Enabled(true);
                        }
        )
           .Footer(false)
        .HtmlAttributes(new { style = "font-size: 8pt; font-family: Verdana;" })
       .Render();
    
        }
    </div>