<div id="BillingAddress" class="leftAddressViewClass">
@{Html.Telerik().Grid((IEnumerable<Coinco.SMS.Website.Models.Address>)ViewData["BillingAddress"])
        .Name("BillingAddressGrid")
        .Columns(columns =>
        {
            columns.Bound(c => c.AddressDetails).Title("Billing Address").Width(100);
        })
                .DataBinding(dataBinding =>
                {
                    dataBinding.Ajax().OperationMode(GridOperationMode.Client).Select("_GetCustomerAddresses", "CheckIn")
                        .Enabled(true);
                }
        )

        .Footer(false)
        .HtmlAttributes(new { style = "font-size: 8pt; font-family: Verdana;" })
       .Render();
    
        }
        </div>
   <div id="ShippingAddress" class="rightAddressViewClass">
         @{
             string[] checkedRecords = (string[])ViewData["checkedRecords"];    
             Html.Telerik().Grid((IEnumerable<Coinco.SMS.Website.Models.Address>)ViewData["ShippingAddress"])
        .Name("ShippingAddressGrid")
        .Columns(columns =>
        {
            columns.Template(
                 @<text>
                    <input name="checkedRecords" type="checkbox" value="@item.AddressId" title="checkedRecords"                      
                    />
                    @if (checkedRecords.Contains(item.AddressId))
                        {
                            <text>checked="checked"</text>
                        }
                </text>)
                .Title("").Width(36).HtmlAttributes(new { style = "text-align:center" });
            columns.Bound(c => c.AddressDetails).Title("Shipping Address").Width(100);
        })
                        .DataBinding(dataBinding =>
                        {
                            dataBinding.Ajax().OperationMode(GridOperationMode.Client).Select("_GetCustomerAddresses", "CheckIn")
                                .Enabled(true);
                        }
        )
           .Footer(false)
        .HtmlAttributes(new { style = "font-size: 8pt; font-family: Verdana;" })
       .Render();
    
        }
    </div>
 
 


              