@using Telerik.Web.Mvc.UI
<div id="BillingAddress" class="leftAddressViewClass">
@{Html.Telerik().Grid((IEnumerable<Coinco.SMS.Website.Models.Address>)ViewData["BillingAddress"])
        .Name("BillingAddressGrid")
        .Columns(columns =>
        {
            columns.Bound(c => c.AddressId).Title("Address Id").Width(0);
            columns.Bound(c => c.AddressDetails).Title("Billing Address").Width(180);
        })
                .DataBinding(dataBinding =>
                {
                    dataBinding.Ajax().OperationMode(GridOperationMode.Client).Select("_GetCustomerAddresses", "CheckIn")
                        .Enabled(true);
                }
        )
                 .Scrollable(c => c.Height("40px"))
        .Footer(false)
        .HtmlAttributes(new { style = "font-size: 8pt; font-family: Verdana;" })
       .Render();
    
        }
        </div>
   <div id="ShippingAddress" class="rightAddressViewClass">
         @{
             Html.Telerik().Grid((IEnumerable<Coinco.SMS.Website.Models.Address>)ViewData["ShippingAddress"])
        .Name("ShippingAddressGrid")
        .Columns(columns =>
        {
            columns.Template(@<text>
                    <input name="checkedRecords" type="checkbox" value="@item.IsShipping" title="checkedRecords"           
                    />
                </text>)
                   .ClientTemplate("<input type='checkbox' name='checkedRecords' value='<#= IsShipping #>' />")
                   .Title("")
                   .Width(36)
                   .HtmlAttributes(new { style = "text-align:center" });

            columns.Bound(c => c.AddressDetails).Title("Shipping Address").Width(180);
        })
                        .DataBinding(dataBinding =>
                        {
                            dataBinding.Ajax().OperationMode(GridOperationMode.Client).Select("_GetCustomerAddresses", "CheckIn")
                                                            .Enabled(true);
                            
                        }
        )
        .ClientEvents(events => events.OnRowSelect("onRowSelected"))
       
         .Footer(false)
         .Selectable()
         .Scrollable(c => c.Height("40px"))
        .HtmlAttributes(new { style = "font-size: 8pt; font-family: Verdana;" })
       .Render();
    
        }
    </div>
 
 <script type="text/javascript">
     
     function displayCheckedOrders() {
            var $checkedRecords = $(':checked');
            
            if ($checkedRecords.length < 1) {
                alert('Check a few grid rows first.');
                return;
            }                         
            
//            $('#result').load('<%= Url.Action("DisplayCheckedOrders", "Grid")
//                %>', $checkedRecords);
        }

     function onRowSelected(e) {
         var ordersGrid = $('#ShippingAddressGrid').data('tGrid');
         var addressId = e.row.cells[0].innerHTML; 
         jQuery.ajax({
             url: "/CheckIn/SelectionServerSide",
             type: 'POST',
             data: {addressId : addressId},
             success: function (result) {
                 jQuery('#Address').html(result);
             },
             error: function (result) {
             }

         });
         return false;
     }


     function onDataBinding(e) {
         SomethingGroupGrid_RowSelect(e);
         e.data = $.extend(e.data, { addressId: addressId });
     }
</script>


              