@using Telerik.Web.Mvc.UI
@using Telerik.Web.Mvc
@model Coinco.SMS.Website.Models.ServiceOrderLine

@{
    ViewBag.Title = "CheckIn";
}

<div id="ServiceOrderAdditionDiv">
<h6>Service Orders</h6>
<div id="ServiceOrderDetailsDiv">

  </div> 

<div id="ServiceOrderGridDiv">
@{Html.Telerik().Grid((IEnumerable<Coinco.SMS.Website.Models.ServiceOrderLine>)ViewData["ServiceOrder"])
        .Name("ServiceOrderGrid")
        .Columns(columns =>
        {
            columns.Template(o => @Html.ActionLink("Details", "Details", new { id = o.ProductId })).Width(50);(.Title("History").Width(120);
            columns.Bound(c => c.SerialNumber).Title("Serial Number").Width(100);
            columns.Bound(c => c.PartNumber).Title("Part Number").Width(200);
            columns.Bound(c => c.PartType).Title("Part Type").Width(100);
            columns.Bound(c => c.Quantity).Title("Quantity").Width(100);
            columns.Bound(c => c.RepairType).Title("Repair Type").Width(120);
            columns.Bound(c => c.Warranty).Title("Warranty").Width(100);
            columns.Bound(c => c.Comments).Title("Comments").Width(100).Format("{0:dd/MM/yyyy}");
        })
    
        .DataBinding(dataBinding =>
            {
                dataBinding.Ajax().OperationMode(GridOperationMode.Client).Select("_SelectionClientSide_ServiceOrders", "WorkOrder")
                    .Enabled(true);
            }
        )
        .HtmlAttributes(new { style = "font-size: 8pt; font-family: Verdana;" })
        .Scrollable()
        .Pageable((pager => pager.PageSize(10)))
        .Sortable()
        .Selectable()
        .Filterable()
        .ClientEvents(clientEvents => clientEvents.OnDataBinding("onServiceGridDataBinding"))
        .ClientEvents(events => events.OnRowSelect("onRowSelected"))

       .Render();
    
        }
  </div> 
  </div>