@using Telerik.Web.Mvc
@model Coinco.SMS.Website.Models.ServiceOrder


@{
    ViewBag.Title = "CheckIn";
}
@using (Html.BeginForm()){
<div id="ServiceOrderAdditionDiv">
<div id="ServiceOrderDetailsDiv">
    <div id="Identification">
    <h6>Identification</h6>
        <div id="IdentificationDetails" class="fullViewforSmallerHeightClass">
    <div id="CustomerAccount" class="leftViewClass"> 
        <div id="CustomerAccountLabel" class="leftView" >
            @Html.Label("Customer Account", new { @class = "leftView" })
        </div>
        <div id="CustomerAccountDropDown" class="leftadjacentView">          
@*               @Html.DropDownListFor(model=> model.Customer, (SelectList)ViewData["CustomerList"], "<--Select One-->", new { @class = "dropDownProperties", id = "customerAccountDropDownList" })
*@             
@{
    Html.Telerik().ComboBox().Name("customerAccountDropDownList")
        .BindTo((SelectList)ViewData["CustomerList"])
        //.ClientEvents(e => e.OnOpen("onOpen"))
        .ClientEvents(e => e.OnChange("onCustomerAccountDropDownListChange"))
        .HtmlAttributes(new { style = "font-size: 8pt; font-family: Verdana; width:200px"})
        .DropDownHtmlAttributes(new { style = "font-size: 8pt; font-family: Verdana;" })     
        .Render();
        }

            

        </div>
    </div>
    </div>
    <br />
    <div id="Address" class="fullViewforLargerHeightClass">
         @*  GetCustomerAddress();*@
    </div>
    </div>
    <h6>Other Details</h6>
    <div id="OtherDetailsView" class="combinedViewForOtherDetailsCheckInDataClass" >

    </div>
  </div> 
  <br />
    <div id="ServiceOrderGridDiv">

        
  </div> 
  <br />
  <div id="SubmitResult" class="submitResultClass"> 
                     <button class="t-button" type="button" id="Create" value="Create">Create</button>
                      
                    <button class="t-button" type="button" id="Clear" value="Clear">Clear</button>


  </div>
                      <br />
  </div>
}
  <script type="text/javascript">
      function onCustomerAccountDropDownListChange(e) {
          if (e != null) {
              var customerAccount = e.currentTarget.value;
              jQuery.ajax({
                  url: "/CheckIn/GetCustomerAddresses",
                  type: 'GET',
                  data: { customerAccount: customerAccount },
                  success: function (result) {
                      jQuery('#Address').html(result);
                      jQuery.ajax({
                          url: "/CheckIn/GetOtherDetails",
                          type: 'GET',
                          data: { customerAccount: customerAccount },
                          success: function (result) {
                              jQuery('#OtherDetailsView').html(result);

                          },
                          error: function (result) {
                              alert(result.responseText);
                          }

                      });
                       },
                  error: function (result) {
                      alert(result.responseText);
                  }

              });

              
             return false;
          }
      }

      

      jQuery('#Create').click(function () {
          var customerAccount = $('#customerAccountDropDownList').val();
          var customerPo = $('#customerPOTextBox').val();
          var technicinanNo = $('#serviceTechnicianDropDownList').val();
          var responsibleNo = $('#serviceResponsibleDropDownList').val();
          var woClassification = $('#woClassificationDropDownList').val();
          var customerComments = $('#customerCommentTextArea').val();
          var $checkedRecords = $(':checked');

          if ($checkedRecords.length < 1) {
              alert('Check a few grid rows first.');
              return;
          }                    
          jQuery.ajax({
              url: "/CheckIn/CreateServiceOrder",
              type: 'POST',

              data: { customerAccount: customerAccount, customerPo: customerPo, technicinanNo: technicinanNo, responsibleNo: responsibleNo, woClassification: woClassification, customerComments: customerComments },
              success: function (result) {
                  jQuery('#ServiceOrderGridDiv').html(result);
                  
                                      alert('Service Order Created Successfully');
                                        $('#customerAccountDropDownList').val('-1');
                                        $('#customerPOTextBox').val('');
                                        $('#serviceTechnicianDropDownList').val('-1');
                                        $('#serviceResponsibleDropDownList').val('-1');
                                        $('#woClassificationDropDownList').val('-1');
                                        $('#customerCommentTextArea').val('');
              },
              error: function (result) {
                  alert(result.responseText);
              }

          });
          return false;
      });

          jQuery(function GetCustomerAddress(e) {

              var customerAccount = null;
              //var dropDownList = $('#customerAccountDropDownList').data('tDropDownList');
              jQuery.ajax({
                  url: "/CheckIn/GetCustomerAddresses",
                  type: 'GET',
                  data: { customerAccount: customerAccount },
                  success: function (result) {
                      jQuery('#Address').html(result);
                  },
                  error: function (result) {
                      alert(result.responseText);
                  }

              });
              return false;
          });

          jQuery(function GetServiceOrderLinesHistory() {

              var customerAccount = null;
              //var dropDownList = $('#customerAccountDropDownList').data('tDropDownList');
              jQuery.ajax({
                  url: "/CheckIn/GetServiceOrderLinesHistory",
                  type: 'GET',
                  data: { partNumber: "",serialNumber:"" },
                  success: function (result) {
                      jQuery('#ServiceOrderGridDiv').html(result);
                  },
                  error: function (result) {
                      alert(result.responseText);
                  }

              });
              return false;
          });


          jQuery(function GetOtherDetails() {

              var customerAccount = null;
              //var dropDownList = $('#customerAccountDropDownList').data('tDropDownList');
              jQuery.ajax({
                  url: "/CheckIn/GetOtherDetails",
                  type: 'GET',
                  data: { partNumber: "", serialNumber: "" },
                  success: function (result) {
                      jQuery('#OtherDetailsView').html(result);
                  },
                  error: function (result) {
                      alert(result.responseText);
                  }

              });
              return false;
          });
      function onDataBinding(e) {
          var dropDownList = jQuery('#customerAccountDropDownList').data('DropDownList');
          var customerAccount = dropDownList.value();
          e.data = jQuery.extend(e.data, { customerAccount: customerAccount });
      }

     
      
</script>