html {
    background-color: #e2e2e2;
    margin: 0;
    padding: 0;
}

.page
{
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.imgClass
{
    padding: 10;
    width: 36px;
    height: 36px;
    text-align: justify;
    border:none;
    
}

.ribbonIconBarClass {

text-align:center;
width:70px;
height:auto;
float:left;

}

.ribbonIconBarClass:hover {

cursor:pointer;
text-align:center;
background-color:#FAE186;
width:70px;
height:65px;
float:left;
}

/*.ribbonIconBarClass1 {

text-align:center;
border: solid white 1px;
width:50px;
height:70px;
float:left;
margin-left:5px;
text-align:center;
background-color:transparent;

}

.ribbonIconBarClass1:hover {

cursor:pointer;
text-align:center;
border:dotted grey 1px;
width:80px;
height:auto;
float:left;
margin-left:5px;

}
*/

.LayoutHeader
{
    margin: 0 auto;
    max-width: 960px;
    padding-bottom:0px;
    height:140px;
    background-color: #fff;
    padding-left:0;
    padding-right:5px;
}

.headerImageClass
{
    margin: 0 auto;
    max-width: 960px;
    height: 50px;
    /*width: auto;*/
}
.siteuserClass
{
    margin: 0 auto;
    max-width: 960px;
    height: 25px;
    vertical-align:middle;
    background: #084B8A;
    padding-left: 20px;
    padding-right: 10px;
    color: #FFFFFF;
    font-weight:bold;
   /* overflow:hidden;
    position:relative;*/


}
.siteView
{
    float: left;
  /*  position:absolute;
    top:10%;*/
}
.userDetail
{
   float:right;
}
.smsMenuHeader
{
    margin: 2px auto;
    max-width: 960px;
    height: 62px;
    background-image: url('../Images/Border.png');
    background-repeat: repeat-x;
   /* width: auto;*/
}
/*.smsMenu
{
    float:left;
    padding-left: 20px;
}
*/
.imgTitle
{
    font-size: 0.650em;
    text-align: center;
    font-weight: bold;
}



/*.LayoutBody
{
    margin: 0 auto;
    max-width: 960px;
    background-color: #fff;
    padding-left:5px;
    padding-right:5px;
    padding-bottom:5px;
    
}*/

body 
{
    border-top: solid 0px #000;
    color: #333;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0 auto;
    max-width: 960px;
    background-color: #fff;
    padding-left:5px;
    padding-right:5px;
    padding-bottom:5px;
}

#main
{
    max-width: 960px;
    background: #fff;
    position:relative;
    padding: 1px 10px 10px 10px;
    margin-bottom: 30px;
    _height: 1px; /* only IE6 applies CSS properties starting with an underscore */
}

.iqNameTooltip
{
cursor: help;
border-bottom: dotted 1px brown;
}

.siteLabel {
    
    font-size: 0.8em;
    font-weight: 600;
    width: 30px;
    display: inline-block;
    vertical-align:top;
}

.iqTooltip 
{
padding-left: 10px;
padding-right: 10px;
padding-top: 3px;
padding-bottom: 3px;
display: none;
position: absolute;
background-color: #fff;
/*border: solid 3px #333;*/
z-index: 999;
}

label {
    
    margin : 5px 0 0px 0;
    font-size: 0.8em;
    font-weight: 600;
    width: 140px;
    display: inline-block;
    vertical-align:top;
}

footer 
{
    max-width: 960px;
    clear: both;
    font-size: .8em;
    height: 10px;
}

.float-right {
    float: right;
   
}

/*******************Service Order Process**************/
.leftcolumn
{
   
    width: 300px;
    float: left;
    position: absolute;
    
}

.centercolumn
{
    
    width: 300px;
    margin-left: 310px;
    position: absolute;
} 

.rightcolumn
{
   
    width: 300px;
    margin-left: 630px;
    position: absolute;
}
.pageCointainer
{
    width: 960px;
    max-height: 750px;
   
}
.serviceProcessDiv
{
    
    padding-left: 5px;
    padding-top:5px;
    padding-right:5px;
    padding-bottom:5px;
    max-width: 950px;
   
}
.header1
{
    padding: 5px 0px 0px 0px;
    vertical-align: middle;
    text-align: left;
    height: 26px;
    font-size: 0.88em;
    font-weight: bold;
    font-family: Verdana;
    color: #6B70AB;
}

.textAreaClass
{
    height:140px;
    width:195px;
    
}
.addLinesDiv
{
    padding: 0px;
    margin-top: 50px;
    max-width: 960px;
    height: 250px;
}
.submitResultServiceOrderProcess
{
    padding-left: 380px;
    padding-top:5px;
    padding-right:300px;
    padding-bottom:5px;
    max-width: 950px;
    height: 20px;
    vertical-align:middle;
     font-weight:normal;
    
}
.addLineleftcolumn
{
    width: 300px;
    float: left;
    position: absolute;
    padding: 5px;
}

.addLinecentercolumn
{
    width: 300px;
    margin-left: 310px;
    position: absolute;
    margin-top: 35px;
}

.addLineRightcolumn
{
    width: 300px;
    margin-left: 630px;
    position: absolute;
  
}

.topDimensioncolumn
{
   
    width: 300px;
    margin-left: 630px;
    position: absolute;
    margin : 0px 0px 0px 0px;
    
}

.centerDimensioncolumn
{
   
    width: 300px;
    margin-left: 630px;
    position: absolute;
    margin : 150px 0px 0px 0px;
}

.bottomDimensioncolumn
{
   
    width: 300px;
    margin-left: 630px;
    position: absolute;
    margin : 180px 0px 0px 0px;
    display:none;
}

.textBoxPropertiesSP
{
    margin:0px 0px 0px 0px;
    width:145px;
    height: 16px; 
    vertical-align:middle;
    font-weight:normal;
    font-family:  Verdana;
    font-size:8pt;
    border-color:#8ba0bc;
}

.partLinesDiv
{
    
    margin-top: 10px; 
    padding-top:10px;
    max-width: 960px;
    height: 250px;
    
   
}

.dropDownPropertiesSP
{
    margin: 3px 0px 3px 0px;
    padding:1px 0px 1px 0px;
    max-width: 150px;
    width:150px;
    height: 22px; 
    vertical-align:middle;
    font-weight:normal;
    font-family:  Verdana;
    font-size:8pt;
}

.addressDiv
{
    margin-top: 5px; 
    max-width: 960px;
    height: 300px;
       
}

.labelHeaderView
{
   float:left;
   width:135px;
   text-align: left;
   vertical-align:middle;
   font-family:  Verdana;
   font-size:8pt;
   font-weight:bold;


}

.labelHeaderSPView
{
   float:left;
   width:135px;
   text-align: left;
   vertical-align:middle;
   font-family:  Verdana;
   font-size:9pt;
   font-weight:normal;


}

.labelViewSO
{
    float: left;
    width: 150px;
    height:24px;
    text-align: left;
    vertical-align:middle;
    font-family: Verdana;
    font-size: 8pt;
    font-weight: normal;
}


.mandatory
{
	FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR:Red;
    FONT-FAMILY: verdana,helvetica;
    text-align:center;
}
/*******************end********************/



/*********************Checkin***************************/

.leftViewClass
{
    padding-left: 5px;
    padding-top:0px;
    padding-bottom:10px;
    padding-right:10px;
    max-width: 410px;
    width:410px;
    max-height: 50px;
    vertical-align:middle;
   font-family:  Verdana;
   font-size:8pt;
    font-weight:normal;
    float:left;
}
.leftAddressViewClass
{
   padding-left: 5px;
   padding-top:0px;
   padding-right:10px;
   max-width: 415px;
   width:415px;
   height: 160px;
   font-family:  Verdana;
   font-size:8pt;
    font-weight:normal;
    float:left;
}

.leftViewClassforThirdColumn
{
    float:left;
    padding-left: 5px;
    padding-top:0px;
    padding-right:10px;
    max-width: 420px;
    width:410px;
    height: 25px;
    vertical-align:middle;
    font-family:  Verdana;
    font-size:8pt;
     font-weight:normal;
}

.leftView
{
   float:left;
   width:130px;
   text-align: left;
   vertical-align:middle;
   font-family:  Verdana;
   font-size:8pt;
   font-weight:normal;
}

.leftadjacentView
{
   float:right;
   width:230px;
   max-width:230px;
   text-align: left;
   vertical-align:middle;
   font-family:  Verdana;
   font-size:8pt;
   font-weight:normal;
}

.fullViewforLargerHeightClass
{
    padding-left: 5px;
    padding-top:5px;
    padding-right:10px;
    max-width: 900px;
    height: 160px;
    vertical-align:middle;
     font-weight:normal;
    
}
.fullViewforMediumHeightClass
{
    padding-left: 5px;
    padding-top:5px;
    padding-right:10px;
    max-width: 895px;
    height: 85px;
    vertical-align:middle;
     font-weight:normal;
     
    
}

.fullViewforSmallerHeightClass
{
    padding-left: 10px;
    padding-top:5px;
    padding-right:10px;
    padding-bottom:5px;
    max-width: 895px;
    width:895px;
    height: 25px;
    vertical-align:middle;
     font-weight:normal;
    
}

.fullViewThreeColumnforSmallerHeightClass
{
    padding-left: 5px;
    padding-top:5px;
    padding-right:10px;
    padding-bottom:5px;
    width:960;
    height: 20px;
    vertical-align:middle;
     font-weight:normal;
    
}

.combinedViewForOtherDetailsCheckInDataClass
{
    padding-left: 5px;
    padding-top:5px;
    padding-right:10px;
    max-width: 960px;
    height: 365px;
    vertical-align:middle;
     font-weight:normal;
    
}

.serviceOrderLineGridClass
{
    padding-left: 5px;
    padding-top:5px;
    padding-right:5px;
    max-width: 950px;
    height: 235px;
    vertical-align:middle;
    font-weight:normal;
}


.submitResultClass
{
    padding-left: 400px;
    padding-top: 5px;
    padding-right: 400px;
    padding-bottom: 5px;
    max-width: 950px;
    height: 18px;
    vertical-align: middle;
    font-weight: bold;
    font-family: Verdana;
    font-size: small;
}

.textBoxProperties
{
    margin:0px 0px 0px 0px;
    max-width: 230px;
    width:230px;
    height: 15px; 
    vertical-align:middle;
    font-weight:normal;
    font-family:  Verdana;
   font-size:8pt;
   border-color:#8ba0bc;
}

.dropDownProperties
{
    margin:0px 0px 0px 0px;
    max-width: 235px;
    width:235px;
    height: 22px; 
    vertical-align:middle;
    font-weight:normal;
    font-family:  Verdana;
   font-size:8pt;
}
.buttonProperties
{
    margin:0px 0px 0px 0px;
    max-width: 30px;
    height: 25px; 
    vertical-align:middle;
    background:transparent url("images/topic_button.png") no-repeat top left;
    font-weight:normal;
    font-family:  Verdana;
    text-align:center;
    richness:20;
    font-size:8pt;
}

.textAreaProperties
{
    margin:0px 0px 0px 0px;
    max-width: 230px;
    width: 230px;
    height: 45px; 
    max-height:45px;
    vertical-align:middle;
    font-weight:normal;
    font-family:  Verdana;
   font-size:8pt;
}
.rightViewClass
{
    float:right;
    padding-left: 10px;
    padding-top:0px;
    padding-bottom:5px;
    padding-right:10px;
    max-width: 410px;
    width:410px;
    height: 25px;
    vertical-align:middle;
    font-family:  Verdana;
    font-size:8pt;
     font-weight:normal;
}

.rightAddressViewClass
{
    padding-left: 10px;
    padding-top:0px;
    padding-right:10px;
    float:right;
    max-width: 415px;
    width:415px;
    max-height: 160px;
    height: 160px;
    font-family:  Verdana;
    font-size:8pt;
    font-weight:normal;
}

.rightView
{
   float:left;
   width:180px;
   text-align: left;
   vertical-align:middle;
   font-family:  Verdana;
   font-size:8pt;
   font-weight:normal;
    font-weight:normal;

}
.rightadjacentView
{
   float:left;
   width:230px;
   text-align: left;
   vertical-align:middle;
   font-family:  Verdana;
   font-size:8pt;
    font-weight:normal;
}

.rightViewClassforThirdColumn
{
    float:right;
    padding-left: 5px;
    padding-top:0px;
    padding-right:10px;
    max-width: 445px;
    width:445px;
    height: 25px;
    vertical-align:middle;
    font-family:  Verdana;
    font-size:8pt;
     font-weight:normal;
}

.rightViewforThirdColumn
{
   float:right;
   padding-left:10px;
    padding-bottom:10px;
   width:25px;
   text-align: center;
   vertical-align:middle;
   font-family:  Verdana;
   font-size:8pt;
    font-weight:normal;
}


#viewSalesHistory .t-icon
{
    background: transparent url('Images/SalesHistory.png') no-repeat 0 0;
}

/************************************************************/

/*******************Sales History**************/

.fullViewforSalesHistoryClass
{
    padding-left: 10px;
    padding-top:10px;
    padding-right:10px;
    padding-bottom:5px;
    max-width: 790px;
    width:790px;
    height: 25px;
    vertical-align:middle;
     font-weight:normal;
    
}

.salesHistory
{
   padding:10px;
   width:780px;
   height:470px;
   vertical-align:middle;

}
.rightSalesViewClass
{
    float:right;
    padding-left: 10px;
    padding-top:0px;
    padding-bottom:5px;
    padding-right:10px;
    max-width: 370px;
    width:370px;
    height: 25px;
    vertical-align:middle;
    font-family:  Verdana;
    font-size:8pt;
     font-weight:normal;
}

.leftSalesViewClass
{
    padding-left: 5px;
    padding-top:0px;
    padding-bottom:10px;
    padding-right:10px;
    max-width: 370px;
    width:370px;
    max-height: 50px;
    vertical-align:middle;
   font-family:  Verdana;
   font-size:8pt;
    font-weight:normal;
    float:left;
}
.leftadjacentSalesView
{
   float:right;
   width:180px;
   max-width:180px;
   text-align: left;
   vertical-align:middle;
   font-family:  Verdana;
   font-size:8pt;
   font-weight:normal;
}
.rightadjacentSalesView
{
   float:left;
   width:180px;
   text-align: left;
   vertical-align:middle;
   font-family:  Verdana;
   font-size:8pt;
    font-weight:normal;
}
.serviceOrderInfoGridClass
{
    padding-left: 5px;
    padding-top:5px;
    padding-right:5px;
    max-width: 780px;
    height: 220px;
    vertical-align:middle;
    font-weight:normal;
}

.submitButtonClass
{
    padding-left: 370px;
    padding-top:5px;
    padding-right:370px;
    padding-bottom:10px;
    max-width: 780px;
    height: 20px;
    vertical-align:middle;
     font-weight:normal;
    
}
.labelHeadingClass
{
    padding:10px;
    max-width: 750px;
    width: 750px;
    height: 10px; 
    max-height:10px;
    vertical-align:middle;
    text-align: left;
    font-weight:normal;
    font-family:  Verdana;
    color: #6B70AB;
    font-size:9pt;
    font-weight:bold;
}


/************************************************************/

/*******************Repair Lines**************/

.centercolumnRL
{
    
    width: 300px;
    margin-left: 310px;
    position: absolute;
} 

.pageCointainerRL
{

    width:960px;
    height:610px;
  
}

.addLinesDivRL
{
    margin-top: 10px; 
    max-width: 960px;
    height: 120px;
    
   
}

.addLinesDivRL1
{
    margin-top: 10px; 
    max-width: 960px;
    height: 80px;
}

.addLinesDivGrid
{
    margin-top: 10px; 
    padding-top:10px;
    max-width: 960px;
    height: 250px;
}

.addLineleftcolumnRL
{
   
    width: 300px;
    float: left;
    position: absolute;
   
}

.addLinecentercolumnRL
{
   
    width: 300px;
    margin-left:310px;
    position: absolute;
 
}

.addLineRightcolumnRL
{
   
    width: 300px;
    margin-left: 630px;
    position: absolute;
  
}

.centercolumnSubmitRL
{
    
    padding-left: 400px;
    padding-top:5px;
    padding-right:400px;
    padding-bottom:5px;
    max-width: 890px;
    height: 10px;
    vertical-align:middle;
    font-weight:normal;
    font-family:  Verdana;
    font-size:8pt;
}

/*******************end********************/




a {
    color: #333;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
    background:transparent;
}

    a:link, a:visited,
    a:active, a:hover {
        color: #333;
    }

    a:hover {
        background-color: transparent;
    }

header, footer, hgroup,
nav, section {
    display: block;
}

mark {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}


.float-left {
    float: left;
}

.imgOpa
    {
        height:32px;
        width:32px;
    }

.hrefValue
{
    background-color:transparent;
}

/*.float-right {
    float: right;
   
}*/

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3,
h4, h5, h6 {
    color: #6B70AB;
    margin-bottom: 0;
    padding-bottom: 0px;
    padding-top:0px;
    font-family:Verdana;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 0.88em;
}

    h5 a:link, h5 a:visited, h5 a:active {
        padding: 0;
        text-decoration: none;
    }


/* main layout
----------------------------------------------------------*/

.content-wrapper {
    margin: 0 auto;
    max-width: 960px;
    
}
/*
#body {
     background: #ffff;
    clear: both;
    padding-bottom: 5px;
}
*/
    .main-content {
        background: url("../Images/accent.png") no-repeat;
        padding-left: 10px;
       
    }

    .featured + .main-content {
        background: url("../Images/heroAccent.png") no-repeat;
    }
header .content-wrapper {
    padding-top: 2px;
    
}

/*footer {
    clear: both;
    font-size: .8em;
    height: 10px;
}
*/

/* site title
----------------------------------------------------------*/
.site-title {
    color: #c8c8c8;
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 2.3em;
    margin: 0;
}

.site-title a, .site-title a:hover, .site-title a:active {
    background: none;
    color: #c8c8c8;
    outline: none;
    text-decoration: none;
}


/* login
----------------------------------------------------------*/
#login {
    display: block;
    font-size: .85em;
    margin: 0 0 10px;
    text-align: left;
}

    #login a {
        background-color: #d3dce0;
        margin-left: 10px;
        margin-right: 3px;
        padding: 2px 3px;
        text-decoration: none;
    }

    #login a.username {
        background: none;
        margin: 0;
        padding: 0;
        text-decoration: underline;
    }

    #login ul {
        margin: 0;
    }

    #login li {
        display: inline;
        list-style: none;
    }


/* menu
----------------------------------------------------------*/
ul#menu {
    font-size: 1.3em;
    font-weight: 600;
    margin: 0 0 5px;
    padding: 0;
    text-align: left;
}

    ul#menu li {
        display: inline;
        list-style: none;
        padding-left: 15px;
    }

        ul#menu li a {
            background: none;
            color: #999;
            text-decoration: none;
        }

        ul#menu li a:hover {
            color: #333;
            text-decoration: none;
        }


/* page elements
----------------------------------------------------------*/
/* featured */

/*.featured {
    background-color: #fff;
}*/

    .featured .content-wrapper {
        background-color: #7ac0da;
        background-image: -ms-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: -o-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #7ac0da), color-stop(1, #a4d4e6));
        background-image: -webkit-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        color: #3e5667;
        padding: 0px 0px 0px 0px;
    }

        .featured hgroup.title h1, .featured hgroup.title h2 {
            color: #fff;
        }

        .featured p {
            font-size: 1.1em;
        }

/* page titles */
hgroup.title {
    margin-bottom: 10px;
}

hgroup.title h1, hgroup.title h2 {
    display: inline;
}

hgroup.title h2 {
    font-weight: normal;
    margin-left: 3px;
}

/* features */
section.feature {
    width: 300px;
    float: left;
    padding: 10px;
}

/* ordered list */
ol.round {
    list-style-type: none;
    padding-left: 0;
}

    ol.round li {
        margin: 25px 0;
        padding-left: 45px;
    }

        ol.round li.zero {
            background: url("../Images/orderedList0.png") no-repeat;
        }

        ol.round li.one {
            background: url("../Images/orderedList1.png") no-repeat;
        }

        ol.round li.two {
            background: url("../Images/orderedList2.png") no-repeat;
        }

        ol.round li.three {
            background: url("../Images/orderedList3.png") no-repeat;
        }

        ol.round li.four {
            background: url("../Images/orderedList4.png") no-repeat;
        }

        ol.round li.five {
            background: url("../Images/orderedList5.png") no-repeat;
        }

        ol.round li.six {
            background: url("../Images/orderedList6.png") no-repeat;
        }

        ol.round li.seven {
            background: url("../Images/orderedList7.png") no-repeat;
        }

        ol.round li.eight {
            background: url("../Images/orderedList8.png") no-repeat;
        }

        ol.round li.nine {
            background: url("../Images/orderedList9.png") no-repeat;
        }

/* content */
article {
    float: left;
    width: 70%;
}

aside {
    float: right;
    width: 25%;
}

    aside ul {
        list-style: none;
        padding: 0;
    }

        aside ul li {
            background: url("../Images/bullet.png") no-repeat 0 50%;
            padding: 2px 0 2px 20px;
        }

/*.label {
    font-weight: 700;
    vertical-align:top;
}*/

/* login page */
#loginForm {
    border-right: solid 2px #c8c8c8;
    float: left;
    width: 55%;
}

    #loginForm .validation-error {
        display: block;
        margin-left: 15px;
    }

    #loginForm .validation-summary-errors ul {
        margin: 0;
        padding: 0;
    }

    #loginForm .validation-summary-errors li {
        display: inline;
        list-style: none;
        margin: 0;
    }

    #loginForm input {
        width: 250px;
    }

    #loginForm input[type="checkbox"],
    #loginForm input[type="submit"],
    #loginForm input[type="button"],
    #loginForm button {
        width: auto;
    }

#socialLoginForm {
    margin-left: 40px;
    float: left;
    width: 40%;
}

    #socialLoginForm h2 {
        margin-bottom:  5px;
    }

#socialLoginList button {
    margin-bottom: 12px;
}

#logoutForm {
    display: inline;
}

/* contact */
.contact h3 {
    font-size: 1.2em;
}

.contact p {
    margin: 5px 0 0 10px;
}

.contact iframe {
    border: 1px solid #333;
    margin: 5px 0 0 10px;
}

/* forms */
fieldset
{
    border: thin solid #C0C0C0;
    margin: 0;
    padding-left: 4px;
}

    fieldset legend
{
    color: #58D3F7;
    font-size: 1em;
    font-weight: bold;
}

    fieldset ol {
        padding: 0;
        list-style: none;
    }

        fieldset ol li {
            padding-bottom: 5px;
        }

label
{
    margin: 5px 0 0px 0;
    font-size: 0.8em;
    font-weight: 400;
    width: 130px;
    display: inline-block;
    vertical-align: top;
    font-family: Verdana;
}

label.checkbox {
    display: inline;
}

input, textarea {
    border: 1px solid #e2e2e2;
    background: #fff;
    color: #333;
    font-size: 0.8em;
    margin:15px 0px 0 3px 0;
    width: 145px;
  
}

textarea {
    font-family: inherit;
    width: 145px;
    height:30px;
  
}

    input:focus, textarea:focus {
        border: 1px solid #7ac0da;
    }

    input[type="checkbox"] {
        background: transparent;
        border: inherit;
        width: auto;
    }

    input[type="submit"],
    input[type="button"],
    button {
        background-color: #d3dce0;
        border: 1px solid #787878;
        cursor: pointer;
        font-size: 1.2em;
        font-weight: 600;
        padding: 7px;
        margin-right: 8px;
        width: auto;
    }

    td input[type="submit"],
    td input[type="button"],
    td button {
        font-size: 1em;
        padding: 4px;
        margin-right: 4px;
    }

/* info and errors */
.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #e80c4d;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #7ac0da;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error {
    color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 2px solid #e80c4d;
    background-color:Orange;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}



/********************
*   Mobile Styles   *
********************/
 @media only screen and (max-width: 850px) {

    /* header
    ----------------------------------------------------------*/
    header .float-left,
    header .float-right {
        float: none;
    }

    /* logo */
    header .site-title {
        margin: 10px;
        text-align: center;
    }

    /* login */
    #login {
        font-size: .85em;
        margin: 0 0 0px;
        text-align: center;
    }

        #login ul {
            margin: 5px 0;
            padding: 0;
        }

        #login li {
            display: inline;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        #login a {
            background: none;
            color: #999;
            font-weight: 600;
            margin: 2px;
            padding: 0;
        }

        #login a:hover {
            color: #333;
        }

    /* menu */
    nav {
        margin-bottom: 5px;
    }

    ul#menu {
        margin: 0;
        padding: 0;
        text-align: center;
    }

        ul#menu li {
            margin: 0;
            padding: 0;
        }


    /* main layout
    ----------------------------------------------------------*/
    .main-content,
    .featured + .main-content {
        background-position: 10px 0;
    }

    .content-wrapper {
        padding-right: 10px;
        padding-left: 10px;
    }

    .featured .content-wrapper {
        padding: 0px;
    }

    /* page content */
    article, aside {
        float: none;
        width: 100%;
    }

    /* ordered list */
    ol.round {
        list-style-type: none;
        padding-left: 0;
    }

        ol.round li {
            padding-left: 10px;
            margin: 25px 0;
        }

            ol.round li.zero,
            ol.round li.one,
            ol.round li.two,
            ol.round li.three,
            ol.round li.four,
            ol.round li.five,
            ol.round li.six,
            ol.round li.seven,
            ol.round li.eight,
            ol.round li.nine {
                background: none;
            }

     /* features */
     section.feature {
        float: none;
        padding: 10px;
        width: auto;
     }

        section.feature img {
            color: #999;
            content: attr(alt);
            font-size: 1.5em;
            font-weight: 600;
        }

    /* forms */
    input {
        width: 90%;
    }

    /* login page */
    #loginForm {
        border-right: none;
        float: none;
        width: auto;
    }

        #loginForm .validation-error {
            display: block;
            margin-left: 15px;
        }

    #socialLoginForm {
        margin-left: 0;
        float: none;
        width: auto;
    }


    /* footer
    ----------------------------------------------------------
    footer .float-left,
    footer .float-right {
        float: none;
    }

    footer {
        text-align: center;
        height: auto;
        padding: 10px 0;
    }

        footer p {
            margin: 0;
        }*/
}
