@{ Layout = "~/Views/Shared/_Layout.cshtml"; } 
@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup class="title">
    <h5 class="error">Error.</h5>
    <h6 class="error">AX Server is busy..Please try after some time</h6>
    
</hgroup>
